// ==========================================================================
// Main
// ==========================================================================


body {
	position:relative;
	color: #fff;
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
}

#impress {
	z-index: 2;
}

.home {
	position:fixed;
	top:0.5em;
	right:0.5em;
	opacity:0.1;
	z-index:9999;
	transition: all 333ms ease-in-out;
	span {
		font-size:0.8em;
		color:#fff;
	}
	&:hover {opacity:1;}
}

// Slides
.step {
	min-width: 700px;
	opacity: .05;
	transition: all 1.2s ease-in-out;

	&.active {
		opacity: 1;
	}

	// Demo slides
	&.demo {min-width:1000px;}

	// Slides with demos and code
	&.demo.code {
		pre, iframe {
			width:48%;
			float:left;
		}
		pre {margin:0 2% 0 0;}
	}
}

#sasstronauts {
	text-align:center;
	margin-top:-3em;

	svg {
		width:18%;
		height:0%;
		//margin-top:-3em;

		path {
			fill:$fire-orange;//#D1DBE7;
		}
	}
	h1 {
		font-size:1.6em;
		margin-top:0.2em;
		text-shadow:2px 2px 0 #0A0C12, 0 0 20px lighten(#17212D, 25%);

		&:after {
			content:'';
			height:0.1em;
			width:10%;
			background:#D1DBE7;
			position: absolute;
			bottom: -20%;
			left: 45%;
			right: 45%;
			opacity:0.1;
		}
	}
}


#chris, #michael {
	a {
		font-size:0.7em;
		display:block;
		margin-bottom:0.4em;
		span {
			font-size:1.2em;
			//color:#fff;
			//opacity:0.1;
			margin-right:0.5em;
			top:0.15em;
		}
	}
}


// iframes
iframe {
	width: 100%;
	height: 80vh;
}



// Nyan animation after 5 minutes

#nyan {
	position: absolute;
	top: 630px;
	right: 100%;
	width: 350px;
	height: 160px;
	background: url(../_assets/gifs/nyan.gif) no-repeat;
	background-size: 350px 160px;
	animation: nyan 15s 300s linear;
	transform: rotate(-14.04deg);
}

@keyframes nyan {
	100% {
		transform: translate(2000px, -500px) rotate(-14.04deg);
	}
}
