// ==========================================================================
// Main
// ==========================================================================


body {
	position:relative;
	color: #fff;
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
}

// Slides

.step {
	min-width: 700px;
	opacity: .3;
	transition: all 1.2s ease-in-out;

	&.active {
		opacity: 1;
	}
}

#sasstronauts h1 {
	margin-top:-20px;
	//background: -webkit-linear-gradient(#eee, #333);
 //-webkit-background-clip: text;
 //-webkit-text-fill-color: transparent;
	text-shadow:2px 2px 0 #0A0C12, 0 0 26px lighten(#17212D, 40%);
}
