// ==========================================================================
// Main
// ==========================================================================


body {
	position:relative;
	color: #fff;
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
}

// Slides

.step {
	min-width: 700px;
	// font-size:3em;
	opacity: .3;
	transition: all 1.2s ease-in-out;

	&.active {
		opacity: 1;
	}
}
