// ==========================================================================
// Main
// ==========================================================================


body {
	position:relative;
	color: #fff;
	//background: #000;

	//&:after {
	//	content:'';
	//	position:absolute;
	//	top:0;
	//	bottom:0;
	//	right:0;
	//	left:0;
	//	z-index:-1;
	//	opacity:0.25;
	//	background-image:url('../_assets/images/universe-2.jpg');
	//	background-size:cover;
	//}
}

// Slides

.step {
	min-width: 700px;
	font-size:3em;
	opacity: .3;
	transition: all 1.2s ease-in-out;

	&.active {
		opacity: 1;
	}
}
