// ==========================================================================
// Main
// ==========================================================================


body {
	position:relative;
	color: $white;
	height: 100%;
	overflow: hidden;

	// For Screen
	background: radial-gradient(ellipse at bottom, darken(#1b2735, 4%) 0%, #090a0f 100%);

	// For TV
	background: radial-gradient(ellipse at bottom, #090a0f 0%, lighten(#090a0f, 2%) 100%);

	@media tv {
		//background: radial-gradient(ellipse at bottom, #090a0f 0%, lighten(#090a0f, 2%) 100%);
		//background: radial-gradient(ellipse at bottom, pink 0%, yellow 100%);
	}
}

#impress {
	z-index: 2;
}

.home {
	position:fixed;
	top:0.5em;
	right:0.5em;
	opacity:0.1;
	z-index:9999;
	transition: all 333ms ease-in-out;
	span {
		font-size:0.8em;
		color:$white;
	}
	&:hover {opacity:1;}
}

// Slides
.step {
	min-width: 900px;
	opacity: .05;
	transition: all 1.2s ease-in-out;

	&.active {
		opacity: 1;
	}
}

.demo {
	min-width: 1000px;
}

.split {
	.left,
	.right {
		margin: 0;
		width:50%;
		float:left;
		min-height: 600px;
	}
	.left {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.right {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

// Info for previous slide
.info {
	text-align: center;
}


#sasstronauts {
	text-align:center;
	margin-top:-3em;

	svg {
		width:18%;
		height:0%;

		path {
			fill:$fire-orange;//#D1DBE7;
		}
	}
	h1 {
		font-size:1.6em;
		margin-top:0.2em;
		text-shadow:2px 2px 0 #0A0C12, 0 0 20px darken($white, 25%);

		&:after {
			content:'';
			height:0.1em;
			width:10%;
			background:$white;
			position: absolute;
			bottom: -20%;
			left: 45%;
			right: 45%;
			opacity:0.1;
		}
	}
}


#chris,
#michael,
#followalong {
	a {
		font-size:0.7em;
		display:block;
		margin-bottom:0.4em;

		span {
			font-size:1.2em;
			margin-right:0.5em;
			top:0.15em;
		}
	}
}

img {
	max-width:100%;
	height: auto;
	border-radius: 5px;
}

iframe {
	width: 100%;
	height: 600px;
	border: 0;
	border-radius: 5px;
}



// Nyan animation after 5 minutes
#nyan {
	position: absolute;
	top: 630px;
	right: 100%;
	width: 350px;
	height: 160px;
	background: url(../_assets/gifs/nyan.gif) no-repeat;
	background-size: 350px 160px;
	animation: nyan 15s 300s linear;
	transform: rotate(-14.04deg);
}

@keyframes nyan {
	100% {
		transform: translate(2000px, -500px) rotate(-14.04deg);
	}
}
