// ==========================================================================
// Main
// ==========================================================================


body {
	color: #fff;
	background: #000;
}

// Slides

.step {
	min-width: 600px;
	font-size:3em;
}
