// Borrowed from http://codepen.io/saransh/pen/BKJun
// Thank You :)

$base-speed:150s;

$size:2000px;
$size-simple:2000;

$offset:1px;


// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random($size-simple)}px #{random($size-simple)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random($size-simple)}px #{random($size-simple)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);


@mixin starry($multiple, $shadow) {
 width: ($offset * $multiple);
 height: ($offset * $multiple);
 background: transparent;
 @if($shadow == "small") {
  box-shadow: $shadows-small;
 } @else if ($shadow == "medium") {
  box-shadow: $shadows-medium;
 } @else if ($shadow == "big") {
  box-shadow: $shadows-big;
 }
 animation: animStar ($base-speed * $multiple) linear infinite;
 &:after {
   content: " ";
   position: absolute;
   top: ($size * $multiple);
   width: ($offset * $multiple);
   height: ($offset * $multiple);
   background: transparent;
   @if($shadow == "small") {
    box-shadow: $shadows-small;
   } @else if ($shadow == "medium") {
    box-shadow: $shadows-medium;
   } @else if ($shadow == "big") {
    box-shadow: $shadows-big;
   }
 }
}

#stars {@include starry(1, small);}
#stars2 {@include starry(2, medium);}
#stars3 {@include starry(3, big);}


@keyframes animStar {
  from {transform: translateY(0px);}
  to {transform: translateY(-2000px);}
}
