// ==========================================================================
// Links
// ==========================================================================

a {
	color: map-get($link-color, color);
	transition: color .2s;
	text-decoration: none;

	&:visited {
		color: map-get($link-color, color--visited);
	}
	&:hover,
	&:active {
		color: map-get($link-color, color--hover);
	}
	&:focus {
		outline: thin dotted;
	}

	&.anchor {
		color:#fff;
		span {
			float:right;
			color:$fire-orange;
			font-size:1.5em;
			top:-0.05em;
			opacity:0;
			transition:all 333ms ease-in-out;
		}
		&:visited {color:white;}
		&:hover {
			color:$fire-orange;
			span {opacity:1;}
		}
	}

}
