// ==========================================================================
// Elements Variables
// ==========================================================================

// Horizontal rule
$hr__color: #eee;

// _links
$link-color:(
	color: $fire-orange,
	color--hover: #0f92e5,
	color--visited: $fire-orange,
);
