// ==========================================================================
// Elements Variables
// ==========================================================================

// Horizontal rule
$hr__color: #eee;

// _links
$link-color:(
	color: $light-blue,
	color--hover: #0f92e5,
	color--visited: $light-blue,
);
