// ==========================================================================
// Stars mixins
// ==========================================================================

@mixin starry($multiple, $shadow) {
	width: (map-get($stars, offset) * $multiple);
	height: (map-get($stars, offset) * $multiple);
	animation: animStar (map-get($stars, speed) * $multiple) linear infinite;
	@extend %stars;

	&,
	&:after {
		@if($shadow == 1) {
			box-shadow: multiple-box-shadow(700);
		} @else if ($shadow == 2) {
			box-shadow: multiple-box-shadow(200);
		} @else if ($shadow == 3) {
			box-shadow: multiple-box-shadow(100);
		}
	}
	&:after {
		top: (map-get($stars, size) * 1px * $multiple);
		width: (map-get($stars, offset) * $multiple);
		height: (map-get($stars, offset) * $multiple);
	}
}
