// ==========================================================================
// Stars variables
// ==========================================================================

$stars: (
	speed: 100s,
	size: 2000,
	offset: 1px,
	color: lighten(#1B2735, 15%)
)
