/* http://prismjs.com/download.html?themes=prism-okaidia&languages=css+scss */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #d08770;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	font-family: $monospace;
	font-size: 35px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	//background: #000;
	//background: rgba(0,0,0,0.3);
	background: #2B303B;
	background: rgba(#2B303B, 0.8);
	box-shadow: 0 0 22px rgba(45, 97, 114, 0.1);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.namespace {
	opacity: .7;
}

.token {
	$white: white;//#c0c5ce;
	$orange: #d08770;
	$blue: #6097b6;
	$magenta: #dd3786;

	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: slategray;
	}
	&.property,
	&.punctuation,
	&.constant,
	&.tag,
	&.symbol {
		color: $white !important;
	}
	&.variable {
		color: $orange;
	}
	&.keyword {
		color: $blue;
	}
	&.boolean,
	&.number{
		color: #ae81ff;
	}
	&.selector,
	&.attr-name,
	&.string,
	&.builtin {
		color: $orange;//#d08770;
	}
	&.operator,
	&.entity,
	&.url,
	.language-css &.string,
	.style &.string,
	&.variable {
		color: #BF616A;//#f8f8f2;
	}
	&.atrule,
	&.attr-value {
		color: #e6db74;
	}
	&.important {
		color: $magenta;
	}
	&.entity {
		cursor: help;
	}
}
